<!--<h1>Daily Income</h1>-->

<a (click)="toggleMoreDetails()" class="btn btn-info">More Details</a>

<a (click)="toggleDeleted()" class="btn btn-info">Toggle Deleted</a>

<div class="row form-group">
    <!--<form (ngSubmit)="onSubmit()" #incomeForm="ngForm">-->
    <div class="row">
        <div class="col-xs-4">
            Year :
            <input type="number" class="form-control" name="newIncomeDate.year" [(ngModel)]="newIncomeDate.year">
        </div>
        <div class="col-xs-3">
            Month :
            <input type="number" class="form-control" name="newIncomeDate.month" [(ngModel)]="newIncomeDate.month">
        </div>
        <div class="col-xs-3">
            Day :
            <input type="number" class="form-control" name="newIncomeDate.day" [(ngModel)]="newIncomeDate.day">
        </div>
        <div class="col-xs-2">
            <a (click)="onAddIncome()" class="btn btn-success">Add</a>
        </div>
    </div>
    <!--</form>-->

    <div *ngFor="let income of incomes">
        <div class="row">
            <div class="row">
                <div class="col-xs-3">
                    <label>{{ getDate(income.yearActual, income.monthActual, income.dayActual) }}</label>
                </div>
                <div class="col-xs-1">
                    <label>{{getTotal(income)}}</label>
                </div>
                <div class="col-xs-3">
                    <a (click)="toggleDetail(income.id)" class="btn btn-info">Details</a>

                    <a (click)="editIncome(income.id)" class="btn btn-info">Edit</a>
                </div>
            </div>
            <div *ngIf="toggledDetail == income.id" class="row">
                <div [ngClass]="{
                'disable-income': detail.isDeleted}" class="row" *ngFor="let detail of income.IncomeDetails">
                    <div class="col-xs-2">
                        {{ detail.Dish.name }}
                    </div>

                    <div class="col-xs-1">
                        {{ detail.price }}
                    </div>

                    <div class="col-xs-1">
                        {{ detail.discount }}%
                    </div>

                    <div class="col-xs-1">
                        {{ detail.price * (100 - detail.discount) / 100 }}
                    </div>

                    <div class="col-xs-1">
                        {{ detail.keeper.name }}
                    </div>

                    <div class="col-xs-4">
                        <a class="btn btn-info" (mouseover)="toggleNoting(detail.id)" 
                        *ngIf="editingNote != detail.id">
                            {{ showFirstNChars(detail.note) || 'Note' }}
                        </a>
                        <textarea *ngIf="editingNote == detail.id" class="form-control" cols="30" rows="2"
                        name="detail.note"
                        [(ngModel)]="detail.note">{{ detail.note }}</textarea>
                    </div>

                    <div class="col-xs-2">
                        <div class="row">
                            <a class="col-xs-12 btn btn-danger" *ngIf="!detail.isDeleted" (click)="deleteIncomeDetail(detail.id)">Delete</a>
                            <a class="col-xs-12 btn btn-success" *ngIf="detail.isDeleted" (click)="enableIncomeDetail(detail.id)">Enable</a>
                        </div>
                        <div class="row">
                            <a class="col-xs-12 btn btn-primary" (click)="updateIncomeDetail(detail)">Update</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        Drink:
                        <select class="form-control" name="newIncomeDetail.Dish" (change)="selectDrink($event.target.value)">
                        <option value=""></option>
                            <option [value]="drink.id"
                            [selected]="drink.id == selectedDrink.id"
                            *ngFor="let drink of drinks">
                                {{ drink.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        Price:
                        <input type="text" class="form-control" name="newIncomeDetail.price" [(ngModel)]="newIncomeDetail.price">asdasd
                    </div>
                    <div class="col-xs-2">
                        Discount:
                        <input type="text" class="form-control" [(ngModel)]="newIncomeDetail.discount">
                    </div>
                    <div class="col-xs-2">
                        Keeper:
                        <select name="newIncomeDetail.keeper" class="form-control" (change)="selectKeeper($event.target.value)">
                            <option value=""></option>
                            <option [value]="person.id" *ngFor="let person of people"
                            [selected]="person.id == selectedKeeper">
                                {{person.name}}
                            </option>
                        </select>
                    </div>

                    <div class="col-xs-2">
                        Final Price: <input type="text" class="form-control" disabled [value]="getTotalPrice()">
                    </div>
                    <div class="col-xs-2">
                        <a (click)="onAddNewDetail(income.id)" class="btn btn-success">Add Drink {{income.id}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>