<display-common-detail-info 
[item]="drink"
type="drinks"
(onEditEvent)="onEditEvent($event)"
(onDeleteEvent)="onDeleteEvent($event)"
>
    <!--Drink Details Go Here-->
    <button class="btn btn-info" 
    [disabled] *ngFor="let drinkMat of drink.dishMaterials"
    [routerLink]="['/materials', drinkMat.material.id]">
        {{drinkMat.material.name}} - {{ drinkMat.amount}} {{drinkMat.material.unit}} - {{ getMaterialPrice(drinkMat) }}
    </button>
    {{ totalPrice }}
    <!--<ul>
        <li *ngFor="let drinkMat of drink.dishMaterials">
            {{ drinkMat.material.name }} - 
        </li>
    </ul>-->
</display-common-detail-info>

