<div class="row">
    <button (click)="goBack()" class="button-in-title btn btn-info col-xs-1">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
    </button>
    <h2 class="col-xs-10">{{ item.name }}</h2>
    <h2 [hidden]="!showPrice" class="col-xs-1">{{ item.price }}</h2>
</div>

<ng-content></ng-content>

<div class="row">
    <button (click)="onEdit(item.id)" class="btn btn-success">Edit</button>
    <button (click)="onDelete(item.id)" class="btn btn-danger">Delete</button>
</div>