<form-container formName="Drink">
    <form (ngSubmit)="onSubmit()" #drinkForm="ngForm">
        <form-input labelName="Name">
            <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="drink.name">
        </form-input>

        <form-input labelName="Price">
            <input type="number" class="form-control" id="price" required [(ngModel)]="drink.price" name="price">
        </form-input>

        <form-input-custom labelName="Choosen Materials"
        *ngFor="let mat of drink.dishMaterials">
            <div class="col-xs-2">

            <button class="btn btn-danger" type="button" (click)="onRemoveMaterial(mat.material.id)">Delete</button>
            </div>
            <div class="col-xs-5">
                <!--{{ mat.material }}-->
                <input class="form-control" type="text" disabled value="{{ mat.material.name }}">
            </div>
            <div class="col-xs-2">
                <input class="form-control" type="text" name="amount{{mat.id}}" [(ngModel)]="mat.amount">
            </div>
        </form-input-custom>

        <form-input-custom labelName="Materials">
            <div class="col-xs-7">
                <select (change)="chooseMaterial($event.target.value)" id="materials" class="form-control">
                        <option value="-1">Please choose a Material</option>
                        <option *ngFor="let material of materials"
                        [value]="material.id">
                            {{ material.name }}
                            <!--{{ isShowMaterial(material.id) }}-->
                        </option>
                    </select>
            </div>
            <div class="col-xs-2">
                <input type="text" placeholder="Amount" id="amount"
                name="amount"
                 class="form-control col-xs-2" [(ngModel)]="amount">
            </div>
        </form-input-custom>

        <div class="row">
            <div class="col-xs-3" *ngFor="let material of drink.materials">
                <span class="btn btn-info" (click)="removeMaterialFromDrink(material.id)">
                {{ material.name }}
                </span>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-success" type="submit" [disabled]="!drinkForm.form.valid">Submit</button>
        </div>
    </form>
</form-container>