<div class="container">

    <div class="row">
        <button (click)="goBack()" class="button-in-title btn btn-info col-xs-2">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
    </button>
        <h2 class="col-xs-10">Form</h2>
    </div>

    <div class="row">

        <form>
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" required>

            <label for="materials">Choose Materials:</label>
            <select (change)="chooseMaterial($event.target.value)" id="materials" class="form-control">
                <option>Please choose a Material</option>
                <option *ngFor="let material of materials"
                [value]="material.id">
                    {{ material.name }}
                </option>
            </select>
        </form>

        <div class="row">
            <div class="col-xs-3" *ngFor="let chosenMaterial of chosenMaterials">
                <span class="btn btn-info" (click)="removeMaterial(chosenMaterial.id)" >
                {{ chosenMaterial.name }}
                </span>
            </div>
        </div>

        <button class="btn btn-success">Submit</button>
    </div>
</div>