<ul class="nav nav-tabs">
  <li routerLinkActive="active" routerLink="drinks">
    <a href="#">Drinks</a>
  </li>
  <li routerLinkActive="active" routerLink="materials">
    <a href="#">Materials</a>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle"
    data-toggle="dropdown">Budget
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li routerLink="income"><a href="#">Income</a></li>
      <li><a href="#">Expense</a></li>
    </ul>
  </li>
</ul>

<router-outlet></router-outlet>